<div class="card" style="width: 300px;">
    <div class="tabs is-centered">
        <ul>
            <li class="is-dark">
                <a> Login </a>
            </li>
        </ul>
    </div>
    <div class="card-content">
        <div class="content">
            Hi, Welcome. Get access for this application with your oauth account.
        </div>
        <a class="button is-dark is-fullwidth" href="/auth/github">
            <span class="icon">
                <i class="fab fa-github"></i>
            </span>
            <span>Login With Github</span>
        </a>
    </div>
    <footer class="card-footer">
        
    </footer>
</div>