<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Error 404
            </h1>
            <h2 class="subtitle">
                Data / Page you are looking for, not found.
            </h2>

            <a class="button is-dark is-outlined" href="/">
                <span class="icon">
                    <i class="fas fa-long-arrow-alt-left"></i>
                </span>
                <span>Back To Home</span>
            </a>
        </div>
    </div>
</section>